body {
  background-color: #FFFFFF;
  margin: 40px;
  font-family: helvetica;
  text-align: left;
}

header {
	width: 100%;
	background-color: #009933;
	color: white;
	padding: 15px;
	margin-left: -50px;
	top:0;
	font-size: 30px;
	text-align: center;
	position: fixed;
	height: 40px;
}

#below_header {
	margin-top: 80px;
}

#indexPage {
  text-align: center;
}

div.left {
	float: left;
	width: 50%;
	height: 300px;
	padding-right: 0%;
	text-align: center;
}

div.right {
	float: right;
	width: 50%;
	height: 300px;
	text-align: center;
}

#left60 {
	float: left;
	width: 60%;
	text-align: left;
}

#right40 {
	float: right;
	width: 40%;
	text-align: left;
}

#centre {
  text-align: center;
}

div.box {
  padding: 10px;
}

h1 {
	width: 100%;
	background-color: #009933;
	color: white;
	padding: 10px 20px 10px 20px;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
}

table {
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

th {
	padding: 5px;
	background-color: #009933;
	color: white;
	height: 40px;
}

td {
	padding: 5px;
	border-bottom: 1px solid;
	border-color: #009933;
}

table.form {
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

table.primer {
	float:left;
	width:55%;
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

table.regions {
	float:right;
	width:35%;
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
	padding: 10px;
}

th.primer {
	padding: 5px;
	background-color: #009933;
	color: white;
	height: 20px;
}

td.primer {
	font-size: 12px;
	padding: 5px;
	background-color: #009933;
	color: white;
	font-weight: bold;
}

td.left {
	text-align: right;
	padding: 5px;
}

td.right {
	text-align: left;
	padding: 5px;
}

tr:hover {
	background-color: #edf7f0;
}

input[type=file] {
  cursor: pointer;
}

hr {
	height: 2px;
	color: #009933;
	background-color: #009933;
	border: none;
}

input[type=submit] {
	background-color: #009933;
  border: 2px solid;
	border-color: #009933;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  vertical-align: middle;
}

input[type=submit]:hover {
	background-color: white;
	color: #009933;
	font-weight: bold;
}

input[type=submit]:active {
	background-color: white;
	color: #009933;
	font-weight: bold;
}

input[type=submit]:focus {
	width: 100px;
	height: 40px;
	position: relative;
	animation-name: kitt;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation: kitt 2s linear infinite;
}

@keyframes kitt {
	0%   {background-color:red; left:0px; top:0px;}
	25%  {background-color:red; left:20px; top:0px;}
	75%  {background-color:red; left:-20px; top:0px;}
	100% {background-color:red; left:0px; top:0px;}
}

#revSubmit {
	background-color: white;
	color: #009933;
}

#revSubmit:hover {
	background-color: #009933;
	color: white;
}

#smallButton {
  padding: 2px;
  width: 100px;
}

#wideButton {
  background-color: #009933;
  border: 2px solid;
  border-color: #009933;
  border-radius: 4px;
  color: white;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  width: 130px;
}

#wideButton:hover {
	background-color: white;
	color: #009933;
	font-weight: bold;
}

#wideButton:active {
	background-color: white;
	color: #009933;
	font-weight: bold;
	box-shadow: inset 0 0 5px 2px #009933;
}

#revWideButton {
  background-color: white;
  border: 2px solid;
  border-color: #009933;
  border-radius: 4px;
	color: #009933;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  width: 130px;
}

#revWideButton:hover {
  background-color: #009933;
	color: white;
}

#revWideButton:active {
	background-color: white;
	color: #009933;
	box-shadow: inset 0 0 5px 2px #009933;
}

.holdBottom {
  position: absolute;
  bottom: 5%;
}

.pop {
	color: #00802b;
	font-weight: bold;
	font-style: italic;
  text-decoration: none;
}

.pop-link {
	color: #00802b;
	font-weight: bold;
	font-style: normal;
  text-decoration: none;
}

.pop-link:hover {
	color: #00e64d;
	font-style: oblique;
}


.flash {
  border-radius:10px;
  border:1px solid #8ed9f6;
  font-family :Tahoma,Geneva,Arial,sans-serif;
  font-weight: bold;
  font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;
  background:#e3f7fc
}

.flash-success{
  background:#c1f0c1;
  border:1px solid #a6ca8a;
}

.flash-warning{
  background:#ffecec;
  border:1px solid #f5aca6;
}
