body {
    background-color: #FFFFFF;
    margin: 40px;
    font-family: helvetica;
}

header {
	width: 100%;
	background-color: #009933;
	color: white;
	padding: 15px;
	margin-left: -50px;
	/*margin-bottom: 10px;*/
	top:0;
	font-size: 35px;
	text-align: center;
	position: fixed;
	height: 40px;
}

#below_header {
	margin-top: 80px;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}

h1 {
	width: 100%;
	background-color: #009933;
	color: white;
	padding: 10px 20px 10px 20px;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
}

input[type=submit] {
	background-color: #009933;
    border: hidden;
    border-radius: 4px;
    color: white;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
}

input[type=file] {
    cursor: pointer;
}

.pop {
	color: #00802b;
	font-weight: bold;
	font-style: italic;
}
