pygr>=0.8.2
reportlab==3.2.0
intervaltree==2.1.0
flask>=0.10.1
flask-login>=0.3.2
flask-sqlalchemy>=2.1
sqlalchemy-migrate>=0.10.0
flask-wtf>=0.12
guess_language>=0.2
flipflop>=1.0
coverage>=4.0.0
redis>=2.10.5
celery>=3.1.20
