{% extends "base.html" %}
{% block content %}
    <div>
        <div>
            <p>Select batch file to upload</p>
            <form action="/upload/" method="post" enctype="multipart/form-data">
                <input type="file" name="filePath"><br><br>
                <input type="submit" value="Upload">
            </form>
        </div>
        <div>
            <br>
        </div>
        <div>
            <p>Or enter specific locus to design primer for in the form: <span class="pop">Chromosome:Start-End</span></p>
            <form action="/adhoc_design/" method="post" enctype="multipart/form-data">
                <input type="text" name="locus"><br><br>
                <input type="checkbox" name="store" value="True">Store designed primers<br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br><br>
    <div>
        <div>
            <p>Update the storage location of a primer pair in the form: <span class="pop">PrimerName Vessel Well</span></p>
            <form action="/update_location/" method="post" enctype="multipart/form-data">
                <input type="text" name="location"><br><br>
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}
